<!--Authors: Sonja Lavin, Flora Zhang
 Contents: Seattle Prenatal Clinic -->
 <!-- Citation for the browse table format, utilizing #each, and basic structure of add form: 
Date: 11/09/2023
Copied from CS340 OSU course:
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main -->
<!--
// Citation for script to display the input field for adding a new title, if the custom option is selected ----------
// based on tutoral found here:
// Date: 11/13/2023
// Title: Use javaScript to Hide or Show a Portion of a Form
// Author: Six Minutes Smarter
// Source URl: https://youtu.be/yEMQWyiEPFk?si=uP5NM9kd2lx00cw5 -->

<!-- Citation for the filters
Date: 12/4/2023
Based off CS340 F23 Group 68 step 5 submission
Source URL: https://edstem.org/us/courses/44903/discussion/3957832 -->

<body >
<!-- jquery link for delete -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <main>
        <section>
            <article>
                 <!-- browse table -->
                <table id="employee-table">
                    <thead>
                        <caption><h2>Manage Employees</h2>
                            <p style="text-align:justify;">In order to provide comprehensive services to families, Seattle Prenatal relies on our talented and diverse group of employees. We are privileged to employ motivated and compassionate social workers, case managers, lactation consultants, counselors, health coaches, and nutritionists. Use this page to Add, Browse, or Delete our current employees.  
                            </p>
                        </caption>
                        <tr>
                            <th colspan="4"><button class="sort" id="toggle-add-form">
                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                                </svg> Add New
                                </button>
                            </th> 
                            <th colspan="5">
                                <form class="search-div" id="last-name-search" method='GET' action='/employees.html'>
                                    <input type="text" class="search-input" name="lastName" id="lastNameSearch"  placeholder="Search Last Name. . .">
                                    <a href=`/employees.html?lastName`>
                                        <button class="search-clear" id="search-clear">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M125.7 160H176c17.7 0 32 14.3 32 32s-14.3 32-32 32H48c-17.7 0-32-14.3-32-32V64c0-17.7 14.3-32 32-32s32 14.3 32 32v51.2L97.6 97.6c87.5-87.5 229.3-87.5 316.8 0s87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3s-163.8-62.5-226.3 0L125.7 160z"/></svg>
                                        </button>
                                    </a>
                                </form>
                                
                            </th>
                        </tr>
                        <tr>
                            <th>ID 
                                <button class="sort" onclick="sortTable(0)"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#666666}</style><path d="M450.7 38c8.3 6 13.3 15.7 13.3 26v96h16c17.7 0 32 14.3 32 32s-14.3 32-32 32H432 384c-17.7 0-32-14.3-32-32s14.3-32 32-32h16V108.4l-5.9 2c-16.8 5.6-34.9-3.5-40.5-20.2s3.5-34.9 20.2-40.5l48-16c9.8-3.3 20.5-1.6 28.8 4.4zM160 32c9 0 17.5 3.8 23.6 10.4l88 96c11.9 13 11.1 33.3-2 45.2s-33.3 11.1-45.2-2L192 146.3V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V146.3L95.6 181.6c-11.9 13-32.2 13.9-45.2 2s-13.9-32.2-2-45.2l88-96C142.5 35.8 151 32 160 32zM445.7 364.9A32 32 0 1 0 418.3 307a32 32 0 1 0 27.4 57.9zm-40.7 54.9C369.6 408.4 344 375.2 344 336c0-48.6 39.4-88 88-88s88 39.4 88 88c0 23.5-7.5 46.3-21.5 65.2L449.7 467c-10.5 14.2-30.6 17.2-44.8 6.7s-17.2-30.6-6.7-44.8l6.8-9.2z"/></svg>
                                </button>
                            </th>
                            <th>First Name
                                <button class="sort" onclick="sortTable(1)"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M183.6 42.4C177.5 35.8 169 32 160 32s-17.5 3.8-23.6 10.4l-88 96c-11.9 13-11.1 33.3 2 45.2s33.3 11.1 45.2-2L128 146.3V448c0 17.7 14.3 32 32 32s32-14.3 32-32V146.3l32.4 35.4c11.9 13 32.2 13.9 45.2 2s13.9-32.2 2-45.2l-88-96zM320 320c0 17.7 14.3 32 32 32h50.7l-73.4 73.4c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H429.3l73.4-73.4c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8H352c-17.7 0-32 14.3-32 32zM416 32c-12.1 0-23.2 6.8-28.6 17.7l-64 128-16 32c-7.9 15.8-1.5 35 14.3 42.9s35 1.5 42.9-14.3l7.2-14.3h88.4l7.2 14.3c7.9 15.8 27.1 22.2 42.9 14.3s22.2-27.1 14.3-42.9l-16-32-64-128C439.2 38.8 428.1 32 416 32zM395.8 176L416 135.6 436.2 176H395.8z"/></svg>
                                </button>
                            </th>
                            <th>Last Name
                                <button class="sort" onclick="sortTable(2)"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M183.6 42.4C177.5 35.8 169 32 160 32s-17.5 3.8-23.6 10.4l-88 96c-11.9 13-11.1 33.3 2 45.2s33.3 11.1 45.2-2L128 146.3V448c0 17.7 14.3 32 32 32s32-14.3 32-32V146.3l32.4 35.4c11.9 13 32.2 13.9 45.2 2s13.9-32.2 2-45.2l-88-96zM320 320c0 17.7 14.3 32 32 32h50.7l-73.4 73.4c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H429.3l73.4-73.4c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8H352c-17.7 0-32 14.3-32 32zM416 32c-12.1 0-23.2 6.8-28.6 17.7l-64 128-16 32c-7.9 15.8-1.5 35 14.3 42.9s35 1.5 42.9-14.3l7.2-14.3h88.4l7.2 14.3c7.9 15.8 27.1 22.2 42.9 14.3s22.2-27.1 14.3-42.9l-16-32-64-128C439.2 38.8 428.1 32 416 32zM395.8 176L416 135.6 436.2 176H395.8z"/></svg>
                                </button>
                            </th>
                            <th>Primary Phone</th>
                            <th>Email</th>
                            <th>Title
                                <button class="sort" onclick="sortTable(5)">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M183.6 42.4C177.5 35.8 169 32 160 32s-17.5 3.8-23.6 10.4l-88 96c-11.9 13-11.1 33.3 2 45.2s33.3 11.1 45.2-2L128 146.3V448c0 17.7 14.3 32 32 32s32-14.3 32-32V146.3l32.4 35.4c11.9 13 32.2 13.9 45.2 2s13.9-32.2 2-45.2l-88-96zM320 320c0 17.7 14.3 32 32 32h50.7l-73.4 73.4c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H429.3l73.4-73.4c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8H352c-17.7 0-32 14.3-32 32zM416 32c-12.1 0-23.2 6.8-28.6 17.7l-64 128-16 32c-7.9 15.8-1.5 35 14.3 42.9s35 1.5 42.9-14.3l7.2-14.3h88.4l7.2 14.3c7.9 15.8 27.1 22.2 42.9 14.3s22.2-27.1 14.3-42.9l-16-32-64-128C439.2 38.8 428.1 32 416 32zM395.8 176L416 135.6 436.2 176H395.8z"/></svg>
                                </button>
                                <button class="sort" id="filter-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#000000" d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg>
                                </button> 
                            </th>
                            <th colspan="2"> 
                                <form id="filter-dropdown" class="hidden" method="GET" action='/employees.html'>
                                <select name="filter-title" id="filter-title" onchange="applyFilter();"> 
                                    <option value="" disable selected>Filter by Title</option>
                                    <option value="all">All Titles</option>
                                    {{#each titles}}
                                    <option value="{{this.title}}">{{this.title}}</option>
                                    {{/each}}
                                </select>
                                </form>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr data-value={{this.ID}}>
                            <td>{{this.ID}}</td>
                            <td>{{this.FirstName}}</td>
                            <td>{{this.LastName}}</td>
                            <td>{{this.phone}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.Title}}</td>
                            <td> <button class="sort" onclick="deleteEmployee({{this.ID}}, '{{this.FirstName}} {{this.LastName}}')">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                                </button>
                            </td>
                            <td><button class="sort" onclick="updateEmployee({{this.ID}})">
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
                                </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            <!-- link to javascript script to handle delete using AJAX -->
            <script src="./js/delete_employee.js"></script>
            </article> 
            <article>
                <!-- hidden add form using AJAX-->
                <div id="add-container">
                <form id="add-employee-form-ajax">
                    <h3>Add Employee</h3>
                    <p>To add a new employee, please enter their information below and click Save.</p>
                    <fieldset>
                        <legend>Employee</legend>
                        <label for="input-firstName">First Name: </label>
                        <input type="text" name="input-firstName" id="input-firstName" required>
        
                        <label for="input-lastName">Last Name: </label>
                        <input type="text" name="input-lastName" id="input-lastName" required>

                        <label for="input-title">Title: </label>
                        <select name="input-title" id="input-title" onchange="updateTitleInput()" required> 
                            <option value="Null" disable selected>Title</option >
                            {{#each titles}}
                            <option value="{{this.title}}">{{this.title}}</option>
                            {{/each}}
                            <option value="custom">Select to create a new title</option>
                        </select>
                        <input type="text" name="custom-title" id="custom-title" style="display: none;" placeholder="Add New Title">

                        <label for="input-phone">Primary Phone Number: </label>
                        <input type="text" name="input-phone" id="input-phone" pattern ="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx">

                        <label for="input-email">Email: </label>
                        <input type="text" name="input-email" id="input-email" pattern ="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="example@domain.com">
                       
                        <input class="btn" type="submit" id="UpdateSaveEmployee" value="Save"> 
                        <button class="btn" type="button" id="cancelUpdateEmployee" onclick="window.location.reload(true);">Cancel</button>
                    </fieldset>
                </form>
                </div>
            <!-- link to javascript to handle the DOM manipulation and AJAX request -->
            <script src="./js/add_employee.js"></script>
            </article>
            <article>
            <!-- Hidden form for update -->
            <form id="update-employee-form-ajax" style="display: none;">
                <h3>Update Employee</h3>
                    <p id="update-instruction"></p>
                <fieldset>
                    <legend>Employee</legend>
                    <!-- Fields for updating -->
                    <label for="input-update-phone">Primary Phone Number: </label>
                    <input type="text" name="input-update-phone" id="input-update-phone" pattern ="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx" required>

                    <label for="input-update-email">Email: </label>
                    <input type="text" name="input-update-email" id="input-update-email" pattern ="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="example@domain.com" required>

                    <input class="btn" type="submit" id="update-Employee" value="Update">
                    <button class="btn" type="button" id="cancelUpdateEmployee" onclick="window.location.reload(true);">Cancel</button>
                </fieldset>
            </form>
             <!-- link to script to handle updating provider -->
            <script src="./js/update_employee.js"></script>  
            </article>
        </section>
    </main>
</body>   
<script>

function updateTitleInput() {
    /* variables to capture the select field and hidden custom tiltle fields */
    var select = document.getElementById('input-title');
    var customTitleInput = document.getElementById('custom-title');

    if (select.value === 'custom') {
        /* if user has clicked on 'Select to create a new title', display the custom title input field */
        customTitleInput.style.display = 'inline-block';
        customTitleInput.required = true;
    } else {
        /* if user has not clicked on 'Select to create a new title', do not display the custom title input field */
        customTitleInput.style.display = 'none';
        customTitleInput.required = false;
        }
}
   
 // ---------- script for displaying filter drop down ----------------------------
    document.getElementById('filter-button').addEventListener('click', function() {
        
        
    var filterDropdown = document.getElementById('filter-dropdown');
    filterDropdown.classList.toggle('hidden');   
    });

    function applyFilter() {
        // Get the selected value from the filter dropdown
        const selectedTitle = document.getElementById('filter-title').value;

        // Construct the URL with the filter parameter
        let filterURL = '/employees.html';

        // Append the filter parameter only if a provider is selected
        if (selectedTitle !== 'all') {
            filterURL += `?title=${selectedTitle}`;
                    }

            // Redirect to the constructed URL
                window.location.href = filterURL;
                }

// ----------------- script for sorting the table -----------------------
    
    function sortTable(columnIndex) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("employee-table");
        switching = true;
        /* Make a loop that will continue until no switching has been done: */
        while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 2; i < (rows.length - 1); i++) {
            shouldSwitch = false;
            x = rows[i].getElementsByTagName("TD")[columnIndex];
            y = rows[i + 1].getElementsByTagName("TD")[columnIndex];

            // Check if the cells contain numeric or string values
            xVal = isNaN(x.innerHTML) ? x.innerHTML.toLowerCase() : parseFloat(x.innerHTML);
            yVal = isNaN(y.innerHTML) ? y.innerHTML.toLowerCase() : parseFloat(y.innerHTML);

            if (xVal > yVal) {
                shouldSwitch = true;
                break;
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }
    }
</script>  
       